.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    .header {
        flex: 1;
    }

    .views {
        flex: 10;
        .scroller {
            width: calc(100% * var(--tabs-count));
            height: 100%;
            display: flex;
            flex-direction: row;

            scroll-snap-type: x mandatory;

            & > div {
                flex: 1 1 100%;

                scroll-snap-align: center;
            }
        }

        width: 100%;
        overflow-x: hidden;
    }

    .markers {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 5vh;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;

        .marker {
            border-radius: 50%;
            --size: 3vw;
            width: var(--size);
            height: var(--size);
            background-color: #d6d6d6;

            opacity: 0.5;
            transition: opacity 0.2s ease-in-out;

            &.current {
                opacity: 1;
            }
        }
    }
}