.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    .header {
        flex: 1;
    }
    .views {
        flex: 10;
        .scroller {
            // width: 400%;
            width: calc(100% * var(--tabs-count));
            height: 100%;
            display: flex;
            flex-direction: row;

            & > div {
                flex: 1 1 100%;
            }
        }

        width: 100%;
        overflow-x: scroll;
    }
}